name: Unit Tests # name of the test

on: [push] # the Github Action will activate on the event that you "push" to the repo

jobs: # the things being executed
  tests: # the name of my status check, will become important when i want to  do branch protection
    runs-on: ubuntu-latest # which device on Github's server that we will be running the Actions on
    steps:
      - uses: actions/checkout@v4 # using version 4 of Actions (arbitrary number haha)
      - name: Install Dependencies
        run: npm install
      - name: Unit Test
        run: npm test ./__tests__/sum.test.js # the actual testing line 